#Linkedin-button {
  position: fixed;
  width: 55%;
  height: 50%;
  top: 56px;
  right: -55%;
  display:table-cell;
  vertical-align:middle;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
  border: none;
  cursor: pointer;
  background-color: #0077b5;
  transition: width 1s;
  transition-timing-function: ease-in-out;
  animation-name: Slide-right;
  animation-delay: 1s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#Linkedin-button:hover {
  width: 65%;
}

#Linkedin-button:focus {
  outline: none;
}

#Linked {
  vertical-align: text-top;
  text-align: center;
  margin: 0;
  font-size: 90vw;
  font-size: 45vh;
  color: #ffffff;
}

#Github-button {
  position: fixed;
  top: 54%;
  width: 55%;
  height: 50%;
  right: -55%;
  display: table-cell;
  vertical-align: top;
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  cursor: pointer;
  background: black;
  border: none;
  transition: width 1s;
  transition-timing-function: ease-in-out;
  animation-name: Slide-right;
  animation-delay: 1.5s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#Github-button:hover {
  width: 65%;
}

#Github-button:focus {
  outline: none;
}

#Github {
  vertical-align: text-top;
  text-align: center;
  margin: 0;
  width: 200px;
  height: 200px;
}

.Chevon-one {
  position: fixed;
  left: -55%;
  top: 56px;
  width: 27%;
  height: 100%;
  clip-path: polygon(20% 0, 59% 46%, 15% 100%, 0% 100%, 37% 46%, 0% 0%);
  background: rgba(245, 245, 245);
  animation-name: Slide-left-1;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.Chevon-two {
  position: fixed;
  left: -55%;
  top: 56px;
  width: 27%;
  height: 100%;
  clip-path: polygon(20% 0, 59% 46%, 15% 100%, 0% 100%, 37% 46%, 0% 0%);
  background: rgba(245, 245, 245, 0.95);
  animation-name: Slide-left-2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.Chevon-three {
  position: fixed;
  left: -55%;
  top: 56px;
  width: 27%;
  height: 100%;
  clip-path: polygon(20% 0, 59% 46%, 15% 100%, 0% 100%, 37% 46%, 0% 0%);
  background: rgba(245, 245, 245, 0.85);
  animation-name: Slide-left-3;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#Text-box-div {
  position: fixed;
  width: 40%;
  height: 100%;
  background: rgba(245, 245, 245, 0.8);
  z-index: 100;
  top: 56px;
  left: -55%;
  clip-path: polygon(0% 0%, 75% 0, 98% 46%, 75% 100%, 0% 100%);
  color: black;
  animation-name: Slide-left-4;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.Text-name-line {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  padding-top: 25%;
  width: 75%;
  font-size: 35px;
	/* animation:
    typing 7s steps(21, end),
	  blink-caret .5s step-end infinite alternate; */
}

.Text-about-me {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  width: 65%;
  text-align: center;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
}

#Line-1 {
  animation-name: Fade-in;
  animation-duration: 3.5s;
  animation-delay: 4s;
  animation-fill-mode: both;
}
#Line-2 {
  animation-name: Fade-in;
  animation-duration: 3.5s;
  animation-delay: 6.5s;
  animation-fill-mode: both;
}

#Line-3 {
  animation-name: Fade-in;
  animation-duration: 3.5s;
  animation-delay: 9s;
  animation-fill-mode: both;
}

#Line-4 {
  animation-name: Fade-in;
  animation-duration: 3.5s;
  animation-delay: 11s;
  animation-fill-mode: both;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  text-align: center;
  margin-right: 23%;
  padding-top: 15%;
}

#Text-about-resume {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  width: 65%;
  margin-right: 23%;
  text-align: center;
  text-decoration: none;
  animation-name: Fade-in;
  animation-duration: 3.5s;
  animation-delay: 11s;
  animation-fill-mode: both;
}

#Text-about-resume:visited {
  color: black;
}

#Text-about-resume:hover, #Text-about-resume:active {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  width: 65%;
  margin-right: 23%;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  transition: width 1.5s;
  transition-timing-function: ease-in-out;
  color: #004dff;
}

#Text-line {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  animation-name: Blink;
  animation-duration: 1s infinite;
}

.About-page {
  position: relative;
}

.About-text-field {
  position: fixed;
  background-color: rgba(248, 248, 248, 0.85);
  height: 100%;
  width: 50%;
  top: 56px;
  left: 0;
  animation-name: Fade-in;
  animation-duration: 2s;
}

#Pool-photo {
  position: fixed;
  width: 100%;
  height: auto;
  top: 56px;
  right: 0;
  border-style: ridge;
  border-width: 2px;
  border-color: black;
  animation-name: Fade-in;
  animation-duration: 2s;
}

#Title-about {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 3.8rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  animation-name: Fade-in;
  animation-duration: 6s;
}

#Text-body-about-1 {
  position: absolute;
  top: 38%;
  width: 95%;
  left: 2.5%;
  text-align: center;
  font-size: 2.3rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  animation-name: Fade-in;
  animation-delay: 10s;
  animation-duration: 6s;
  animation-fill-mode: both;
}

#Text-body-about-2 {
  position: absolute;
  top: 14%;
  width: 75%;
  text-align: center;
  font-size: 1.75rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  opacity: 0;
  animation-name: Fade-in-out;
  animation-delay: 5s;
  animation-duration: 4s;
}

#Text-body-about-3 {
  position: absolute;
  top: 53%;
  width: 82%;
  right: 0;
  text-align: center;
  font-size: 2rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  opacity: 0;
  animation-name: Fade-in-out;
  animation-delay: 7.5s;
  animation-duration: 4s;
}

#Text-body-about-4 {
  position: absolute;
  top: 68%;
  width: 88%;
  text-align: center;
  font-size: 1.65rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  opacity: 0;
  animation-name: Fade-in-out;
  animation-delay: 2.5s;
  animation-duration: 4s;
}

.About-icons {
  width: 40px;
  height: 40px;
  padding: 0 1rem;
  animation-name: Fade-in;
  animation-delay: 12.5s;
  animation-duration: 4s;
  animation-fill-mode: both;
}

.About-icons:hover {
  cursor: pointer;
}

#Resume-button {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 50%;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-left: 2.5%;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  animation-name: Fade-in;
  animation-delay: 12.5s;
  animation-duration: 4s;
  animation-fill-mode: both;
}

#Text-body-about-5 {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 78%;
  width: 50%;
  font-size: 3.5rem;
}

@media (max-width: 321px) {
  #Linkedin-button {
    clip-path: polygon(3% 0, 100% 0%, 100% 95%, 20% 95%);
  }

  #Linked {
    font-size: 17vh;
  }

  #Github-button {
    clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  #Text-box-div {
    width: 57%;
    clip-path: polygon(0% 0%, 81% 0, 98% 50%, 71% 100%, 0% 100%);
  }

  .Chevon-one {
    display: none;
  }

  .Chevon-two {
    left: 58%;
    width: 40%;
    clip-path: polygon(29% 0, 53% 50%, 16% 100%, -3% 100%, 37% 50%, 13% 0%);
  }

  .Chevon-three {
    left: 42.5%;
    width: 40%;
    clip-path: polygon(29% 0, 53% 50%, 16% 100%, -3% 100%, 37% 50%, 13% 0%);
  }
}

@media (max-width: 415px) {
  #Linkedin-button {
    clip-path: polygon(3% 0, 100% 0%, 100% 95%, 20% 95%);
  }

  #Linked {
    font-size: 17vh;
  }

  #Github-button {
    clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  #Text-box-div {
    width: 57%;
    clip-path: polygon(0% 0%, 81% 0, 98% 47%, 71% 100%, 0% 100%);
  }

  .Chevon-one {
    display: none;
  }

  .Chevon-two {
    left: 58%;
    width: 40%;
    clip-path: polygon(29% 0, 53% 47%, 16% 100%, -3% 100%, 37% 47%, 13% 0%);
  }

  .Chevon-three {
    left: 42.5%;
    width: 40%;
    clip-path: polygon(29% 0, 53% 47%, 16% 100%, -3% 100%, 37% 47%, 13% 0%);
  }
}

@media (max-width: 1024px) {
  #Linkedin-button {
    clip-path: polygon(3% 0, 100% 0%, 100% 100%, 30% 100%);
  }

  #Github-button {
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  #Text-box-div {
    width: 52%;
    clip-path: polygon(0% 0%, 78% 0, 100% 47%, 70% 100%, 0% 100%);
  }


  .Chevon-one {
    display: none;
  }

  .Chevon-two {
    left: 47%;
    width: 42%;
    clip-path: polygon(29% 0, 53% 47%, 22% 100%, 6% 100%, 37% 47%, 13% 0%);
  }

  .Chevon-three {
    left: 38%;
    width: 42%;
    clip-path: polygon(29% 0, 53% 47%, 22% 100%, 6% 100%, 37% 47%, 13% 0%);
  }
}

@keyframes Fade-in {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Fade-in-out {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes Slide-right {
  100% {
    right: 0;
  }
}

@keyframes Slide-left-1 {
  100% {
    left: 45.5%;
  }
}

@keyframes Slide-left-2 {
  100% {
    left: 38.5%;
  }
}

@keyframes Slide-left-3 {
  100% {
    left: 31.5%;
  }
}

@keyframes Slide-left-4 {
  100% {
    left: 0;
  }
}

/* @keyframes Typing {
  from {
    width: 0;
  }
}

@keyframes Blink-caret {
  50% {
    border-color: transparent;
  }
} */
