.App {
  text-align: center;
  height: 100%;
}

.Toolbar-header {
  position: fixed;
  width: 100%;
  background-color: #f8f8f8;
  height: 56px;
  top: 0;
  left: 0;
}

.Toolbar-home {
  color: #2c2c2c;
  text-decoration: none;
  font-size: 2rem;
}

.Toolbar-home :hover {
  color: #004dff;
  text-decoration: none;
}

.Toolbar-home-active {
  color: #004dff;
  text-decoration: none;
}

.Toolbar-links {
  color: #2c2c2c;
  text-decoration: none;
}

.Toolbar-links :hover {
  color: #004dff;
  text-decoration: none;
}

.Toolbar-links-active {
  color: #004dff;
  text-decoration: none;
}

.Toolbar-nav {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.Toolbar-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Toolbar-items li {
  padding: 0 0.5rem;
}

.Spacer {
  flex: 1;
}

.Toggle-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.Toggle-list:focus {
  outline: none;
}

.Toggle-items {
  width: 30px;
  height: 2px;
  background: black;
  margin-right: 25px;
}

.Dropdown {
  margin-top: 55px;
  height: 100%;
  background-color: #f8f8f8;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 125px;
}

.Dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Dropdown li {
  padding: 0.25rem;
}
